<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.almond.dao.ArticleMapper">
 	
    <select id="getLocation" resultType="article">
    	/* 위치 조회 */
    	SELECT *
    	FROM LOCATION
    	LIMIT 10
    </select>
 
</mapper>