<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.almond.api.map.dao.MapMapper">
 	
    <insert id="mapRegister" parameterType="maps">
    	/* 지도 등록 */
    	INSERT INTO memopad_map (
   	        article_idx,
   	        article_category,
   	        latitude,
   	        longitude,
   	        title,
   	        del_yn,
   	        reg_date
    	)
    	VALUES (
    		#{articleIdx},
    		#{articleCategory},
    		#{markerLatitude},
    		#{markerLongitude},
    		#{title},
    		'N',
    		NOW()
    	)
    </insert>
    
</mapper>