<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.almond.api.scrap.dao.ScrapMapper">
 	
    <select id="scrapListTotalCount" resultType="int">
    	/* 스크랩 갯수 조회 */
    	SELECT count(idx) as total
		FROM memopad_scrap
		WHERE del_yn = 'N'
		<if test="nationCode != null and nationCode != ''">
		AND nation_code = #{nationCode}
		</if>
		<if test="cityIdx != null">
		AND city_idx IN
	        <foreach collection="cityIdx" item="item" open="(" close=")" separator=",">
	            ${item}
	        </foreach>
		</if>
		<if test="categoryIdx != null">
		AND category_idx IN
	        <foreach collection="categoryIdx" item="item" open="(" close=")" separator=",">
	            ${item}
	        </foreach>
		</if>
		ORDER BY reg_date DESC
    </select>
 	
    <select id="scrapList" resultType="scrap">
    	/* 스크랩 조회 */
    	SELECT idx,
    		   nation_code,
    		   city_idx,
    		   category_idx,
    		   image_url,
    		   title,
    		   description,
    		   (SELECT nickname FROM memopad_user WHERE idx = writer) as writer,
    		   url,
    		   reg_date,
			   IF(writer = ${userIdx}, 'true', 'false') as owner
		FROM memopad_scrap
		WHERE del_yn = 'N'
		<if test="nationCode != null and nationCode != ''">
		AND nation_code = #{nationCode}
		</if>
		<if test="cityIdx != null">
		AND city_idx IN
	        <foreach collection="cityIdx" item="item" open="(" close=")" separator=",">
	            ${item}
	        </foreach>
		</if>
		<if test="categoryIdx != null">
		AND category_idx IN
	        <foreach collection="categoryIdx" item="item" open="(" close=")" separator=",">
	            ${item}
	        </foreach>
		</if>
		ORDER BY reg_date DESC
		LIMIT ${(page - 1) * limit}, ${limit};
    </select>
 	
    <insert id="scrapRegister" parameterType="scrap">
    	/* 스크랩 등록 */
    	INSERT INTO memopad_scrap (
   	        nation_code,
   	        city_idx,
   	        category_idx,
   	        image_url,
   	        title,
   	        description,
   	        writer,
   	        url,
   	        del_yn,
   	        reg_date
    	)
    	VALUES (
    		#{nationCode},
    		#{cityIdx},
    		#{categoryIdx},
    		#{imageUrl},
    		#{title},
    		#{description},
    		#{writer},
    		#{url},
    		'N',
    		NOW()
    	)
    </insert>
    
</mapper>