<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.almond.api.user.dao.UserMapper">
 	
    <select id="selectUserById" parameterType="String" resultType="user">
    	/* 사용자 조회 by ID */
    	SELECT idx,
    	       id,
    	       nickname,
    	       password,
    	       token,
    	       reg_date
    	FROM memopad_user
    	WHERE id = #{id}
    </select>
 	
    <select id="selectUserByNickname" parameterType="String" resultType="user">
    	/* 사용자 조회 by nickname */
    	SELECT idx,
    	       id,
    	       nickname,
    	       password,
    	       token,
    	       reg_date
    	FROM memopad_user
    	WHERE nickname = #{nickname}
    </select>
 	
    <select id="selectUserByToken" parameterType="String" resultType="user">
    	/* 사용자 조회 by Key */
    	SELECT idx,
    	       id,
    	       nickname,
    	       token,
    	       reg_date
    	FROM memopad_user
    	WHERE token = #{token}
    </select>
 
    <insert id="signup" parameterType="user">
    	/* 회원가입 */
    	INSERT INTO memopad_user (
   	        id,
   	        nickname,
   	        password,
   	        reg_date
    	)
    	VALUES (
    		#{id},
    		#{nickname},
    		#{password},
    		NOW()
    	)
    </insert>
    
    <update id="updateAccessToken" parameterType="user">
    	/* 로그인 key 갱신 */
    	UPDATE memopad_user
    	   SET token = #{token}
    	 WHERE id = #{id}
    </update>
 
</mapper>