<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration PUBLIC "-//www.mybatis.org//DTD Config 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-config.dtd"> 
     
<configuration>
     <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="useGeneratedKeys" value="false" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="defaultStatementTimeout" value="25000" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <typeAliases>
        <typeAlias type="com.almond.api.user.domain.User" alias="user" />
        <typeAlias type="com.almond.api.city.domain.City" alias="city" />
        <typeAlias type="com.almond.api.nation.domain.Nation" alias="nation" />
        <typeAlias type="com.almond.api.category.domain.Category" alias="category" />
        <typeAlias type="com.almond.api.scrap.domain.Scrap" alias="scrap" />
        <typeAlias type="com.almond.api.map.domain.Map" alias="maps" />
    </typeAliases>
</configuration>