<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration PUBLIC "-//www.mybatis.org//DTD Config 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-config.dtd"> 
     
<configuration>
     <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="useGeneratedKeys" value="false" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="defaultStatementTimeout" value="25000" />
    </settings>
    
    <typeAliases>
        <typeAlias type="com.almond.api.user.domain.User" alias="user" />
        <typeAlias type="com.almond.api.article.domain.Article" alias="article" />
        <typeAlias type="com.almond.api.location.domain.Location" alias="location" />
        <typeAlias type="com.almond.api.nation.domain.Nation" alias="nation" />
    </typeAliases>
</configuration>